name: frontend-check
on:
  workflow_dispatch:
  pull_request:
    paths:
      - "src/**"
  push:
    branches:
      - master
jobs:
  build:
    timeout-minutes: 14
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4